*.pyc
*~
__pycache__/
db.sqlite3
/static
.DS_Store
/app/build/
*.dex
*.class
*.apk

# YOLO stuff
*.pt
*.onnx
*.pth
runs/
weights/
*.mp4
*.avi
*.mov
*.jpg
*.png

deepface_env/
venv/
.venv/

_polars_runtime_32/

deepface_env/
*.pyd
*.dll
*.lib
*.so
*.zip
*.exe